
@mixin hide {
    font-size: 0;
    margin: 0;
    //opacity: 0;
    padding: 0;

    transition: font-size .5s,
                margin .5s,
                padding .5s;
}

@mixin reveal {
    transition: font-size .25s,
                margin .25s,
                padding .25s;
}

.matchlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        text-align: center;
    }
}

.Format {
    font-size: small;
}

.GamesList {
    overflow: hidden;
    list-style-type: none;
    padding: .2em 1em;
    margin: 0;
    font-size: small;
}

.Players {
    display: flex;
    flex: {
        direction: row;
        wrap: nowrap;
    }
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 100%;

    .Scores {
        font-size: larger;
    }
}

.GameResult {
    display: flex;
    flex: {
        direction: row;
        wrap: nowrap;
    }
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
}

.StartingPlayer::after {
    content: "ғ";
    margin: 0 8px;
}

.Player {
    display: inline-block;
    flex: 1 0;
    text-align: left;
    overflow: hidden;
}

.Scores {
    display: inline-block;
    flex: 0 0 80px;
}

.ExpandButton {
    font-size: xx-small;
    background-color: lightgray;
    color: darkgray;

    &:hover {
        background-color: darkgray;
        color: lightgray;
    }
}

.Unexpanded {
    .Format {
        @include hide()
    }

    .GamesList {
        @include hide()
    }
}

.Expanded {
    .Format {
        @include reveal()
    }

    .GamesList {
        @include reveal()
    }

    .ExpandButton {
        transform: rotate(180deg);
    }
}
