@import 'games';

$break-small: 320px;
$break-large: 960px;

nav {
    a {
        width: 5em;
        padding-bottom: 0.2em;
        height: 3em;
        justify-content: flex-end;
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        background-color: lightblue;
        border-bottom: solid 3px grey;
    }

    a.active {
        border-bottom: solid 3px orange;
        background-color: lightgoldenrodyellow;
    }
}

.game-result {
    background-color: lightcoral;
}

.game-result.winner {
    background-color: lightseagreen;
}

.main {
    width: $break-large;
    @media screen and (max-width: $break-large) {
        width: 100%;
    }
}